body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-areas: "um dois";
    grid-template-columns: auto 200px;
}

a {
    background-color: e5e5e5;
    margin-left: 0PX;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    color: blue;
}

a:hover, a:focus {
    background-color: yellow;
    color: black;
}

li {
    display: inline;
    margin-right: 20px;
}

section{
    grid-area: um;
}

aside {
    grid-area: dois;
}

header {
    background-color: #e5e5e5;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

article#formacao {
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right top;
}

article#experienciaProfissional {
    background-color: #e5e5e5;
    padding: 20px;
}

article#habilidade {
    background-color: #4387D8;
    padding: 20px;
}

video {
    width: 150px;
}

aside {
    background-color: #315E93;
}

#fieldset1 {
    grid-area: fieldset1;
}

#fieldset2 {
    grid-area: fieldset2;
}

#submit {
    grid-area: submit;
    margin-top: 20px;
}

label[for="nome"]{
    grid-area: labnome;
    margin-bottom: 10px;
}

#nome {
    grid-area: nome;
    margin-bottom: 10px;
}

label[for="sobrenome"]{
    grid-area: labsobrenome;
    margin-bottom: 10px;
}

#sobrenome {
    grid-area: sobrenome;
    margin-bottom: 10px;
}

#fieldset1 {
    display: grid;
    grid-template-areas: 
    "labnome nome" 
    "labsobrenome sobrenome";
    grid-template-columns: 70px 1fr;
    background-color: rgb(241, 241, 241);
    border: 1px solid black;
    padding: 20px;
    color: black;
}

@media screen and (max-width: 1024px){
    main{
        display: block;
    }    
}